<div class="login-container">
    <div class="side-bar">
        <div>
            <div class="logo-container"></div>
            <h2>Tierklinik Dobersberg</h2>
        </div>

        <div class="contact">
            <p>02843/2800</p>
            <p>
                <a href="mailto:ordination@tierklinikdobersberg.at">ordination@tierklinikdobersberg.at</a>
            </p>
            <p>
                <a href="https://goo.gl/maps/oLRRbMQdWnF2">Am Szaparypark 1a , 3843 Dobersberg</a>
            </p>
        </div>

        <div class="bottom-section">
            <a href="#">Impressum</a>
            <a href="#">Datenschutzerklärung</a>
        </div>
    </div>
    
    <div class="router-outlet-container">
        <div *ngIf="accountID === null" class="signup-button">
            <span>Noch kein Account?</span>
            <button type="button" class="secondary">Anmelden</button>
        </div>
        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
