/* You can add global styles to this file, and also import other style files */
$default-font-size: 15px;
body {
    padding: 0;
    margin: 0;
    
    font-family: "Inter";
    font-weight: 300;
    font-size: $default-font-size;
}

input {
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: Inter
}

button {
    padding: 10px;
    font-weight: normal;
    font-size: $default-font-size;
    font-family: Inter;
    border-radius: 2px;
    
    &.primary {
        border: 1px solid #74a0c1;
        background-color: #0f6eb3;
        color: white;
    }

    &.secondary {
        background: transparent;
        border: 1px solid #0f6eb3;
        color: #0f6eb3;
        padding: 10px;
        font-size: 0.9rem;
        font-weight: normal;
        font-family: Inter;
        cursor: pointer;

        &:hover {
            background-color: rgba(15, 110, 179, 1);
            color: white;
        }
    }
}